@import url('/L6_05_Navigation-flexbox/Solution/typography.css');

body{
    padding: 2rem;
}

.container{
    max-width: 80rem;
    margin: 0 auto;
}

.site-header{
    display: flex;
    justify-content: space-between;
}

.site-nav ul{
    display: flex;
}

.site-nav ul li{
    display: block;
    padding: 0.5rem 1rem;
}

.site-nav ul li a{
    text-decoration: none;
    color:darkorange;
}

.site-header{
    border-bottom: 0.2rem solid black;
    padding: 1.5rem 0;
}

main{
    margin-top: 2rem;
}