@import url('/L4_04_Navigation-inline-block/Solution/typography.css');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 2rem;
}

.container{
    max-width: 90rem;
    margin: 0 auto;
}

/* .site-header::after{
    content: '';
    display: block;
    clear: both;
    height: 0;
} */

.site-header h1, .site-header nav{
    display: inline-block;
}
.site-header nav{
    margin-left: 5rem;
}

.site-header nav ul li{
    display: inline-block;
    padding: 1rem 2rem;
}

.site-header nav ul a{
    display: block;
    text-decoration: none;
    color: rgb(46, 146, 33);
}

.site-header{
    padding: 1em 0;
    border-bottom: 2px solid #000;
}

main header{
    padding-top: 2rem;
}