.site-header nav{

}

.site-header nav ul{
    background: rgba(0, 0, 0, 0.5);
}

.site-header nav ul::after{
    content: '';
    height: 0;
    display: block;
    clear: both;
    height: 0;
}


.site-header nav li {
    display: block;
    position: relative;
}

.site-header nav > ul > li {
    float: left;
}

.site-header nav > ul ul{
    display: none;
    position: absolute;
    width: 10rem;
    top: 100%;
    left: 0;
    z-index: 1000;
}

.site-header nav > ul > li > ul > li ul{
    left: 100%;
    top:0;
}

.site-header nav li:hover > ul{
    display: block;
}

.site-header nav a {
    display: block;
    color:#fff;
    padding: 0.5rem 1rem;
}

.site-header nav li:hover > a,
.site-header nav a:focus, 
.site-header nav a:hover {
    outline: none;
}
