@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

*{
    box-sizing: border-box;
}

html{
    font: 10px/1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'PT Serif', serif;
}

h1{
    font-size: 2.9rem;
}

body{
    padding: 2rem;
}

.container{
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.container div{
    flex: 0 0 30%;
}