body {
    padding: 2rem;
}
 
.container { /* .site  in lectures*/
    max-width: 80rem;
    margin: 0 auto;
}
.site-header{
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search header{
    padding: 1rem 
}

.site-header nav{
    flex: 1 0 100%;
}

.site-header .search{
    margin-left: auto;
}

.site-content{
    display: flex;
    flex-wrap: wrap;
}

.main-content,
.main-sidebar{
    padding: 4rem 1rem 1rem 1rem;
} 


.main-content{
    flex: 1 1 52rem;
}

.main-sidebar{
    flex: 1 1 22rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
} 

.main-sidebar > section{
    flex: 1 1 19rem;
}
