@import url('/L4_03_Simple-article-page/Solution/typography.css');

body{
    background: rgb(238, 238, 238);
}

.container{
    max-width: 70rem;
    margin: 0 auto;
}

article{
    color:rgb(51, 51, 51);
}

.article-image{
    width: 50vw;
    height: auto;
    padding-bottom: 1rem;
}