/* Typography global style */

html{
    font: normal 16px/1.5 Georgia, serif;
}

body, form, input, button, table, textarea, select {
    font: inherit
}

p, ul, ol{
    padding-bottom: 1.4rem;
}

ul, ol{
    padding-left: 2rem;
}

li ul, li ol{
    padding-top: 0.5rem;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    padding-bottom: 0.3em;
    padding-top: 0.5em;
}

h1{
    font-size: 3.052em ;
}
h2{
    font-size: 2.441em ;
}
h3{
    font-size: 1.953em ;
}
h4{
    font-size: 1.563em;
}
h5{
    font-size: 1.25em 
}
h6{
    font-size: 1rem;
}

blockquote{
    padding-left: 2rem;
    line-height: 1.8rem;
}

blockquote p:first-child::before{
    display: inline-block;
    content: '"';
    font-size: 1.5rem;
    padding-right: 1rem;
}

blockquote p:nth-last-child(2)::after{
    display: inline-block;
    content: '"';
    font-size: 1.5rem;
    padding-left: 1rem;
}

blockquote p:not(:last-child){
    font-style: italic;
}

blockquote p:last-child{
    font-weight: bold;
    text-align: right;
}